 
.body {
  padding: 0;
  margin: 0;
  background-color: "#c2c7cb"
}
.container {
  
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
.section1 {
  background-color: #2c355f;
}
.section2 {
  padding: 4%;
  background-color:#c2c7cb!important;
   
}
@media only screen and (max-width: 600px) {.section2 {
  padding: 4%;
  background-color:#c2c7cb!important;
  height: fit-content;
}}
.content {
  padding: 2%;
  display: flex;
  flex-direction: column;

   
   
  height: 100vh;
  background-color:"#c2c7cb" ;
}
.section21 {
  width: 100%;
  height: 11%;
  display: flex;

  top: 20px;
  z-index: 3;
}
.avatar {
  position: sticky;
  top: 0;
  left: 0;
}
.sidebar {
  width: 100%;

  background: rgba(42, 51, 68, 1);
  color: #fff;
  padding: 20px;
}
.sidebar_content {
  display: flex;
  align-content: space-between;
}

.details {
  padding-top: 2%;
  height: 100%;
  width: 50%;
  font-size: 40px;
   
  display: flex;

  top: 0px;
  right: 0;
  left: 300px;
  bottom: 20px;
}
.profilePhoto {
  width: 50%;
}
.section12 {
  display: flex;
  height: 89%;
  width: 100%;

  padding-top: 5%;
}

.left {
  border-right: 3px solid rgba(255, 255, 255, 0.025); /* White border on the right side */
  height: 100%;
  width: 60%;

  top: 600px;
  display: flex;
  flex-direction: column;
}
.right {
  height: 100%;
  width: 40%;

  top: 600px;
}
.navSpan {
  color: #ffffff;
  font-size: 98%;
  text-decoration: none;
  padding-top: 20px;
  margin-top: 10px;
}
.navSpanActive {
  
  font-size: 120%;
  text-decoration: none;
  padding-top: 5%px;
  margin-top: 5%px;
}
.a {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}
.projectDetails {
  padding-top: 3%;
  padding-bottom: 40px;
   
  
}
.projectName {
  height: 5%;
  width: 100%;
   
  font-size: 28px;
}
.projectData {
  padding-top: 4%;
  padding-bottom: 4%;
  display: flex;
  font-size: 18px;
  height: 8%;
  width: 100%;
  flex-direction: column;
}
.startEndDate {
  display: flex;
  flex-direction: column;
  height: 70%;
  
}
.countClient {
  display: flex;
  flex-direction: column;
  height: 70%;
   
}
.rolesAndResponsibillitesHeader {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}
.rolesAndResponsibillites {
  margin-top: 30px;
}
.projectSummary {
  margin-bottom: 20px;
}
